@import url('barra_status_user.css'); /* Estilo da barra indicadora de logado e botão de logout */
@import url('cadastro.css'); /* Estilo da página de cadastro */
@import url('apoiadores.css'); /* Estilo para tratar cards e páginas relacionadas a apoio e doação. */
@import url('copa-elite.css'); /* Estilo de todas páginas (fases) relacionadas a copa */
@import url('meus_dados.css');
@import url('tabela_de_jogos.css'); /* Estilo das tabelas dos torneios de pontos corridos */


.bg-1 {  
    background-image: url("../assets/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.bg-2 {  
    background-image: url("../assets/bg-2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-default {
    background-color: #ffab07;
    border: none;
    color: #215d94;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-icon{
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.btn-default:hover {
    background-color: #ffab07;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
}
/* Card header */
.card-header {
    background-color: #ffab07;
    color: #215d94;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Card body */
.card-body {
    padding: 20px;
    background: linear-gradient(145deg, #f8f8f8, #d9d9d9);
    color: #333;
}

.container-center{
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 1.75rem;
    color: #215d94;
    text-align: center;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

/* Modal styles */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #ffab07;
    color: #215d94;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.modal-body {
    padding: 20px;
    font-size: 1.1rem;
}

.modal-body a {
    color: #215d94 !important;
    text-decoration: none;
    font-weight: bold;
}

.modal-body a:hover {
    text-decoration: underline;
}


.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-info{
    width: 25px;
}
.icon-image{
    width: 45px;
    margin: 3px;
}

.msg-att-com-sucesso{
    background-color: rgb(21, 223, 122);
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.title-container{
    text-align: center;
    color: #215d94;
    font-weight: bold;
}

.msg-rodada-n-liberada{
    background-color:#ffab07;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #215d94;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.observation-text{
    font-size: 13px !important;
    text-align: justify !important;
    color: #e0453d !important;
}
/* 
.container-list{
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.9);
    background-color: #ffab07;
    border-radius: 15px;
    opacity: 0.9;
    padding: 10px;
} */
